/* =Typography
-----------------------------------------------------------------------------*/
body {
    background-color: #f6f5ed;
}
h1, h2, h3, h4, h5 {
	font-family: 'Oswald', 'Trebuchet MS', Helvetica, Arial, sans-serif;
}
h2, h3 {
	font-weight: normal;
}

/* =Layout
-----------------------------------------------------------------------------*/
.wrapper {
    padding: 0 10px;
	width: 94%;
	max-width: 1300px;
	margin: auto;
}
#outer {
	padding: 3em 0 1em 0;
	margin: 1em 0 3em 0;
	background: url(../i/demobg.png) #282828;
	box-shadow: 0 3px 7px #000 inset;
	color: #f2f2f2;
}

/* =Header
-----------------------------------------------------------------------------*/
#header {
	padding-top: 15px;
	margin-bottom: .6em;
}
#header h1 {
	float: left;
	font-size: 32px;
	margin-top: 1px;
	margin-bottom: 0;
	color: rgba(0, 0, 0, .8);
}
#header nav {
	margin-top: 1.2em;
	margin-bottom: 0;
	float: right;
	text-transform: uppercase;
}

/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .wrapper { width: 748px; }
}


/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
    .wrapper { width: 300px; }
	#header h1 { float: none; }
	#header nav { float: none; }
	#header nav ul li { margin: 0; margin-right: 1em; font-size: .85em; }
    #partners ul li { padding-bottom: 1em; text-align: center; }
    #feedback { padding: 1.5em; }
    #banner { text-align: center; margin-bottom: 1.5em; }
	#blocks dt, #blocks dd { float: none; width: auto; }
	#footer section, #footer nav { float: none; }
	#footer nav ul { margin-top: 1em; }
	#footer nav ul li { margin: 0; margin-right: 1em; }
}


/* =Mobile (Landscape)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.wrapper { width: 420px; }
}