/* =Typography
-----------------------------------------------------------------------------*/
body {
    background-color: #f6f5ed;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oswald', 'Trebuchet MS', Helvetica, Arial, sans-serif;
}

h4, h3 {
    font-weight: normal;
}

@font-face {
    font-family: 'entyporegular';
    src: url('entypo/entypo.eot');
    src: url('entypo/entypo.eot?#iefix') format('embedded-opentype'),
         url('entypo/entypo.woff') format('woff'),
         url('entypo/entypo.ttf') format('truetype'),
         url('entypo/entypo.svg#entyporegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/
.wrapper {
    padding: 0 10px;
    width: 94%;
    max-width: 1300px;
    margin: auto;
}

/* =Header
-----------------------------------------------------------------------------*/
#header {
    padding-top: 15px;
    margin-bottom: .6em;
}

#header h1 {
    float: left;
    font-size: 40px;
    margin-top: 1px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, .8);
}

#header nav {
    padding-top: 1em;
    float: right;
}

/* =Nav
-----------------------------------------------------------------------------*/


/* =Misc
-----------------------------------------------------------------------------*/
.thread tr a{ display: block; }
.thread tr { background: #e8edfe; }
.thread tr{ border-left: 2px solid #c7d4fd; }

/* =Footer
-----------------------------------------------------------------------------*/


/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .wrapper { width: 748px; }
}

/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
    .wrapper { width: 300px; }
    #header h1 { float: none; }
}

/* =Mobile (Landscape)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .wrapper { width: 420px; }
}